:root {
  --color1: #f6fff8;
  --color2: #eaf4f4;
  --color3: #cce3de;
  --color4: #a4c3b2;
  --color5: #6b9080;

  --blanco: #ffffff;
  --negro: #000000;
}


/* Búsqueda */

#busqueda {
  display: grid;
  grid-template-columns: 35% 35% 30%;
}

#bt_crc {
  display: block;
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: var(--color5);
  color: white;
  border-radius: 1rem;
}

#bt_crc:hover {
  background-color: var(--color3);
  color: var(--negro);
}

