:root {
  --color1: #e0e1dd;
  --color2: #778da9;
  --color3: #415a77;
  --color4: #1b263b;
  --color5: #0d1b2a;

  --blanco: #ffffff;
}

body {
  background: var(--color2);
  color: var(--blanco);
  font-family: "Courier New", Courier, monospace;
}

#cont {
  padding: 2rem;
}

/* Contenido General Del Curso */
#contGeneralCurso {
  display: grid;
  grid-template-columns: 70% 30%;
  justify-content: center;
}

#sec1 {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 1rem;
  gap: 1rem;
}

#preciosCurso {
  display: flex;
  flex-direction: column;

  padding: 1rem;
}

#preciosCurso > div {
  background: var(--color3);
  padding: 0.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Videos */

video {
  border-radius: 1rem;
}

#cont_general video {
  width: 100%;
  height: auto;
  max-width: 100%;

  border-radius: 1rem;
}
/* Sec1 */

#cont_general {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Temas */
#temas {
  padding: 1rem;
  background-color: var(--color3);
  border-radius: 0.8rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
#temas div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Info Instructor */
#infoInstructor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  padding: 1rem;
    background-color: var(--color4);
    border-radius: 1rem;
}

/* Btn Regresar */
#regresar {
  position: fixed;
  top: 20px;
  left: 20px; /* distancia desde la derecha */
  z-index: 9999;
}

#boton {
  font-size: 1.4rem;
  display: inline-block;
  color: var(--blanco);
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  background: var(--color3);
  padding: 1rem;
  border-radius: 1rem;
}

#boton:hover {
  color: var(--color5);
}
